.formulario-input_error{
    font-size: 14px;
    display: none;
}
.formulario-input_error-activo{
    display: block;
    margin-top: 0.5rem;   
    color: #bb2929;

}
.error-formulario{
    width: 656px;
    padding: 0 0.5rem;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    background-color: #f66860;
    display: none;
}
.error-formulario-activo{
    display: block;
    color: #bb2929;
}
.grupo-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grupo-formulario-incorrecto .formulario-label{
    color:#bb2929;
}
.grupo-formulario-correcto .formulario-input{
    border: 3px solid #2A7AE4;
}
.grupo-formulario-incorrecto .formulario-input{
    border: 3px solid #bb2929;
}