#formacion{
    width: 100%;
    height: 700px;
    background: #EAF2FD;
}
#formacion h2{
    text-align: center;
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    padding-top: 2rem;
}
#formacion div{
    width: 80%;
    height: 118px;
    margin-left: 2rem;
    text-align: center;
    background: #ffffff;
    margin-top: 3rem;
    border-radius: 1rem;
}
#formacion img{
    width: 84px;
    height: 58px;
    margin-top: 2rem;
}
#formacion h3{
   font-weight: 700;
   font-size: 16px;
   color: #464646;
   margin-top: 2rem;
}