#proyectos{
    width: 100%;
    background: #E5E5E5;
}
#proyectos h2{
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}
@media screen and (min-width:1024px) {
    #proyectos h2{
        font-size: 32px;
        padding: 3rem;
    }
}