.skills-y-hobbies{
    width: 100%;
    background: #E5E5E5;
}
#skills{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
}
.bloque-skills_titulo{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #464646;
    padding: 1rem;
}
#skills div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloque-skills p{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin-top: 0.5rem;
}
.bloque-skills div{ 
    text-align: center;
    width: 80%;
    height: 118px;
    background: #FFFFFF;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.bloque-skills img{
    margin-top: 2rem;
}
@media screen and (min-width:480px){
    #skills{
        align-items: center;
        width: 100%;
        height: 370px;
    }
    #skills div{
        display: flex;
        flex-direction: row; 
    }
    .bloque-skills{
        width: 80%;
    }
    .bloque-skills div{
        width: 224px;
        border-radius: 0;
    }
    .bloque-skills img{
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    .bloque-skills p{
        margin-top: 5rem;
        margin-left: -1rem;
    }
}
@media screen and (min-width:912px) {
    #skills{
       height: 580px;
    }
    .bloque-skills_titulo{
        font-size: 32px;
    }
    .bloque-skills{
        width: 80%;
        justify-content: center; 
    }
    .bloque-skills div{
        width: 176px;
        height: 174px;
        margin: 2rem;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }
}
