#sobre-mi{
    width: 100%;
    height: 380px;
    background: #EAF2FD;
}
#sobre-mi h2{
    font-size: 22px;
    font-weight: 700;
    padding: 1rem;
    color: #464646;
}
#sobre-mi p{
    font-weight: 400;
    color: #464646;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
@media screen and (min-width:480px) {
    #sobre-mi{
        height: 286px;
    }
    #sobre-mi h2{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-bottom: 0;
    }
    #sobre-mi p{
        height: 112px;
        padding: 0.5rem 2rem 2rem 2rem;
    }
}